In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import pandas_datareader.data as web

In [2]:
apple = web.DataReader('aapl'
                       , 'yahoo'
                       , start = '12/12/1980'
                      )
apple.shape

(10091, 6)

In [3]:
apple.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1980-12-12  0.128906  0.128348  0.128348  0.128348  469033600.0   0.101087
1980-12-15  0.122210  0.121652  0.122210  0.121652  175884800.0   0.095813
1980-12-16  0.113281  0.112723  0.113281  0.112723  105728000.0   0.088780
1980-12-17  0.116071  0.115513  0.115513  0.115513   86441600.0   0.090978
1980-12-18  0.119420  0.118862  0.118862  0.118862   73449600.0   0.093615

In [4]:
apple['Close_Shift1_DOwn'] = apple.Close.shift(1)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn
Date,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,NaN
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513

In [5]:
def hl(h, l, o, c):
    if o - c > 0:
        return l-h
    else:
        return h-l