In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import pandas_datareader.data as web

In [2]:
apple = web.DataReader('aapl'
                       , 'yahoo'
                       , start = '12/12/1980'
                      )
apple.shape

(10091, 6)

In [3]:
apple.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1980-12-12  0.128906  0.128348  0.128348  0.128348  469033600.0   0.101087
1980-12-15  0.122210  0.121652  0.122210  0.121652  175884800.0   0.095813
1980-12-16  0.113281  0.112723  0.113281  0.112723  105728000.0   0.088780
1980-12-17  0.116071  0.115513  0.115513  0.115513   86441600.0   0.090978
1980-12-18  0.119420  0.118862  0.118862  0.118862   73449600.0   0.093615

In [4]:
apple['Close_Shift1_DOwn'] = apple.Close.shift(1)
apple.fillna(apple.Close.iloc[0], inplace = True)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn
Date,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,0.128348
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513

In [5]:
def hl(h, l, o, c):
    if o - c > 0:
        return l-h
    else:
        return h-l

In [6]:
apple['Daily Change'] = apple.apply(lambda x: hl(x[0], x[1], x[2], x[3]), axis=1)
apple.sample(10)

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn,Daily Change
Date,,,,,,,,
2015-07-13,31.440001,31.080000,31.257500,31.415001,1.657620e+08,28.850456,30.820000,0.360001
1992-12-22,0.546875,0.533482,0.533482,0.541295,2.801680e+08,0.449739,0.532366,0.013393
1996-02-07,0.265625,0.247768,0.265625,0.252232,3.603264e+08,0.217588,0.264509,-0.017857
1993-04-12,0.455357,0.441964,0.441964,0.446429,9.304960e+07,0.371727,0.444196,0.013393
2006-03-27,2.192143,2.121428,2.155357,2.125357,1.108072e+09,1.833441,2.141428,-0.070714
1985-11-11,0.092634,0.089286,0.091518,0.089286,1.787744e+08,0.070321,0.091518,-0.003348
2020-05-28,80.860001,78.907501,79.192497,79.562500,1.335608e+08,79.282524,79.527496,1.952499
2004-07-19,0.575357,0.565357,0.571607,0.570893,5.331704e+08,0.492481,0.575000,-0.010000
2012-02-02,16.327499,16.213572,16.282143,16.254286,1.867964e+08,14.021776,16.292500,-0.113928
1988-10-21,0.372768,0.363839,0.368304,0.366071,1.236032e+08,0.291447,0.370536,-0.008929

In [7]:
apple['Interday Change'] = apple.apply(lambda x: x[2] - x[6], axis = 1)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn,Daily Change,Interday Change
Date,,,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,0.128348,0.000558,0.000000
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348,-0.000558,-0.006138
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652,-0.000558,-0.008371
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723,0.000558,0.002790
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513,0.000558,0.003348