## yfinance Library Demo 6/15/2020

### Imports:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (8, 7)
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics

from sklearn.metrics import roc_auc_score

from sklearn.metrics import (precision_score
                             , recall_score
                             , roc_curve
                             , confusion_matrix
                             , plot_confusion_matrix
                             , precision_recall_curve
                             , auc
                            )

### Global Variables:

In [7]:
month = '06'

date = '12'

sf_hour = 13 # 6 to 13 military time

# valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
interval = '60m'

percent = 1 # percent train set

decision_perc = 0.009 # percent increase from hour to hour or any time period

# start = '2018-07-01'

# end = '2020-' + month + '-' + date

symbol = 'XLK'

### Yahoo Finance

In [16]:
stock_df = yf.download(tickers = symbol # symbol of stock 
                       
                       , period = '2y' # time span of data e.g. 1y or 10y 
                       
                       , interval = interval # time periods of subinterval e.g. 1m or 1hr
                       
                       # , start = start # start time
                       
                       # , end = end # end time
                       
                       , prepost = True # pre/post market data
                      )

[*********************100%***********************]  1 of 1 completed

In [17]:
stock_df.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2018-06-13 08:00:00-04:00,72.070000,72.070000,72.050000,72.050000,72.050000,0
2018-06-13 09:00:00-04:00,72.100000,72.100000,72.090000,72.090000,72.090000,0
2018-06-13 09:30:00-04:00,72.050003,72.245003,72.010002,72.209999,72.209999,1668465
2018-06-13 10:30:00-04:00,72.230003,72.370003,72.139999,72.370003,72.370003,956641
2018-06-13 11:30:00-04:00,72.360001,72.425003,72.139999,72.193802,72.193802,947764