In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import pandas_datareader.data as web

In [2]:
apple = web.DataReader('aapl'
                       , 'yahoo'
                       , start = '12/12/1980'
                      )
apple.shape

(10091, 6)

In [3]:
apple.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1980-12-12  0.128906  0.128348  0.128348  0.128348  469033600.0   0.101087
1980-12-15  0.122210  0.121652  0.122210  0.121652  175884800.0   0.095813
1980-12-16  0.113281  0.112723  0.113281  0.112723  105728000.0   0.088780
1980-12-17  0.116071  0.115513  0.115513  0.115513   86441600.0   0.090978
1980-12-18  0.119420  0.118862  0.118862  0.118862   73449600.0   0.093615

In [4]:
apple['Close_Shift1_DOwn'] = apple.Close.shift(1)
apple.fillna(apple.Close.iloc[0], inplace = True)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn
Date,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,0.128348
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513

In [5]:
def hl(h, l, o, c):
    if o - c > 0:
        return l-h
    else:
        return h-l

In [6]:
apple['Daily Change'] = apple.apply(lambda x: hl(x[0], x[1], x[2], x[3]), axis=1)
apple.sample(10)

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn,Daily Change
Date,,,,,,,,
2020-02-21,80.112503,77.625000,79.654999,78.262497,1.295540e+08,77.776558,80.074997,-2.487503
1989-10-30,0.410714,0.401786,0.406250,0.408482,8.697920e+07,0.328452,0.404018,0.008929
1986-07-07,0.168527,0.157924,0.167969,0.159040,1.818208e+08,0.125260,0.167969,-0.010603
2006-01-30,2.735714,2.531071,2.541786,2.678571,1.398401e+09,2.310673,2.572500,0.204643
1997-12-08,0.140625,0.137277,0.138951,0.138951,1.335824e+08,0.119866,0.141183,0.003348
2000-01-28,0.989955,0.898438,0.965960,0.907366,4.233488e+08,0.782740,0.982143,-0.091518
1987-09-30,0.508929,0.484375,0.484375,0.504464,1.220800e+08,0.398442,0.486607,0.024554
2017-02-27,34.360001,34.070000,34.285000,34.232498,8.102960e+07,32.561634,34.165001,-0.290001
2016-07-06,23.915001,23.592501,23.650000,23.882500,1.237964e+08,22.381962,23.747499,0.322500
2002-03-19,0.451786,0.433929,0.440893,0.443750,2.423456e+08,0.382801,0.441786,0.017857

In [7]:
apple['Interday Change'] = apple.apply(lambda x: x[2] - x[6], axis = 1)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn,Daily Change,Interday Change
Date,,,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,0.128348,0.000558,0.000000
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348,-0.000558,-0.006138
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652,-0.000558,-0.008371
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723,0.000558,0.002790
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513,0.000558,0.003348

In [8]:
apple['Close Adjusted Close'] = apple.apply(lambda x: x[3] - x[5], axis = 1)
apple.head()

,High,Low,Open,Close,Volume,Adj Close,Close_Shift1_DOwn,Daily Change,Interday Change,Close Adjusted Close
Date,,,,,,,,,,
1980-12-12,0.128906,0.128348,0.128348,0.128348,469033600.0,0.101087,0.128348,0.000558,0.000000,0.027262
1980-12-15,0.122210,0.121652,0.122210,0.121652,175884800.0,0.095813,0.128348,-0.000558,-0.006138,0.025839
1980-12-16,0.113281,0.112723,0.113281,0.112723,105728000.0,0.088780,0.121652,-0.000558,-0.008371,0.023943
1980-12-17,0.116071,0.115513,0.115513,0.115513,86441600.0,0.090978,0.112723,0.000558,0.002790,0.024535
1980-12-18,0.119420,0.118862,0.118862,0.118862,73449600.0,0.093615,0.115513,0.000558,0.003348,0.025247